<header style="user-select: none;">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarExample01">
        <h1 style="margin: 0; color: #aaa;">Argentina Programa</h1>
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link mx-2" href="#home" style="display: flex; justify-content: center; align-items: center;">
              <mat-icon>home</mat-icon>
              <p style="margin: 0; font-size: 15px;">Home</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mx-2" href="#aboutme" style="display: flex; justify-content: center; align-items: center;">
              <mat-icon>info</mat-icon>
              <p style="margin: 0; font-size: 15px;">About me</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mx-2" href="#education" style="display: flex; justify-content: center; align-items: center;">
              <mat-icon>assignment</mat-icon>
              <p style="margin: 0; font-size: 15px;">Education</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mx-2" href="#projects" style="display: flex; justify-content: center; align-items: center;">
              <mat-icon>code</mat-icon>
              <p style="margin: 0; font-size: 15px;">Projects</p>
            </a>
          </li>
        </ul>

        <button class="btn btn-success my-2 my-lg-0 px-5">Login</button>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
