<div class="mt-5" id="projects">
  <h2
    class="text-center"
    style="font-size: 55px; color: #aaa; border-bottom: 2px solid #aaa; padding-bottom: 20px; width: 40%; margin: auto;">
    Projects
  </h2>

  <div class="mt-5 row">
    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/NodeJs-logo.png" class="card-img-top mt-2" alt="FreeCodeCamp-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">Api With Node</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Javascript - NodeJs</h6>
        <p class="card-text">
          Viewed Content: NodeJs, Express, MongoDB and Json Web Token for the development of a rest api.
        </p>
        <a
          href="https://github.com/LautiZ/api-rest-mongo-express-node-jwt"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Project
        </a>
      </div>
      <div class="card-footer text-muted">
        August 2022
      </div>
    </div>

    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/VueJs-logo.png" class="card-img-top mt-2" alt="FreeCodeCamp-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">MEVN with Vue</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Javascript - VueJs</h6>
        <p class="card-text">
          Viewed Content: NodeJs, VueJs with Quasar and the consumption of api.
        </p>
        <a
          href="https://github.com/LautiZ/MEVN-vue-node"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Project
        </a>
      </div>
      <div class="card-footer text-muted">
        August 2022
      </div>
    </div>
  </div>
</div>
