<div class="mt-5" id="aboutme">
  <h2
    class="text-center"
    style="font-size: 55px; color: #aaa; border-bottom: 2px solid #aaa; padding-bottom: 20px; width: 40%; margin: auto;">
    About me
  </h2>
  <div class="card mx-auto bg-dark carta" style="color: #aaa; margin: 50px 0; transition: .5s;" id="sec">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/perfil.jpg" class="my-5 mx-5" style="width: 300px; border-radius: 50%; user-select: none;">
      </div>
      <div class="col-md-8 my-auto">
        <div class="card-body">
          <div class="mb-5">
            <h2 class="card-title mt-4 mb-2" style="font-size: 50px;">Zullo Lautaro</h2>
            <p style="text-align: end; width: 295px; font-size: 15px;">Full Stack Developer Jr</p>
          </div>
          <p class="card-text mt-2" style="font-size: 20px; width: 80%; line-height: 1.2;">I'm becoming a independent programmer, by doing online courses of various programming languages like C# with .NET, JavaScript with NodeJs and Python. I did an HTML and CSS course for front end development too. Currently, I am very interested in become a fullstack developer.</p>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
