<div id="education">

  <!-- Titulo de la seccion -->
  <h2
    class="text-center"
    style="font-size: 55px; color: #aaa; border-bottom: 2px solid #aaa; padding-bottom: 20px; width: 40%; margin: auto;">
    Education
  </h2>

  <div class="row mt-5">
    <!-- Tarjeta freeCodeCamp -->
    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/fcc.png" class="card-img-top mt-2" alt="FreeCodeCamp-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">FreeCodeCamp</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Javascript Algorithms and Data Structures</h6>
        <p class="card-text">Se ha completado exitosamente la Certificación de Desarrollador
          JavaScript Algorithms and Data Structures
          de freeCodeCamp.org, que representa aproximadamente 300 horas de trabajo de curso.</p>
        <a
          href="https://www.freecodecamp.org/espanol/certification/lautarozullo/javascript-algorithms-and-data-structures"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Certificate
        </a>
      </div>
      <div class="card-footer text-muted">
        Issued 20 January 2022
      </div>
    </div>

    <!-- Tarjeta ArgPrograma #SeProgramar -->
    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/ArgPrograma.png" class="card-img-top mt-2" alt="Sololearn-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">Argentina Programa</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">#Se programar</h6>
        <p class="card-text">Módulo uno: Fundamentos</p>
        <p class="card-text">Módulo dos: Programación imperativa</p>
        <p class="card-text">Módulo tres: Programación con Objetos</p>
        <a
          href="assets/img/certificados/Certificado_ArgPrograma.png"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Certificate
        </a>
      </div>
      <div class="card-footer text-muted">
        From January to May 2022
      </div>
    </div>

    <!-- Tarjeta Udemy python -->
    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/udemy.png" class="card-img-top mt-2" alt="Sololearn-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">Udemy</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Python, Tkinter, Django and Flask Certificate</h6>
        <p class="card-text">Web application development (Backend)</p>
        <a
          href="assets/img/certificados/Certificate_Python_global.jpg"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Certificate
        </a>
      </div>
      <div class="card-footer text-muted">
        Issued October 2021
      </div>
    </div>
  </div>

  <!-- Segunda fila de certificados -->
  <div class="row mt-3">
    <!-- Tarjeta Sololearn -->
    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/Sololearn.jpg" class="card-img-top mt-2" alt="Sololearn-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">Sololearn</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Python for Beginners</h6>
        <p class="card-text">In this course, we'll cover the basic concepts of Python, as well as build real-life projects and solve different coding challenges.</p>
        <a
          href="https://www.sololearn.com/Certificate/CT-1CTGFCOA/png"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Certificate
        </a>
      </div>
      <div class="card-footer text-muted">
        Issued May 2022
      </div>
    </div>

    <!-- Tarjeta Udemy Solidity -->
    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/udemy.png" class="card-img-top mt-2" alt="Sololearn-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">Udemy</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Ethereum and Solidity: The Complete Developer's Guide</h6>
        <p class="card-text">Creating smart contracts with solidity</p>
        <a
          href="assets/img/certificados/Certificate_Solidity.jpg"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Certificate
        </a>
      </div>
      <div class="card-footer text-muted">
        Issued February 2022
      </div>
    </div>

    <!-- Tarjeta Udemy Frontend -->
    <div class="card bg-dark text-center col mx-2" style="width: 18rem; color:#aaa;">
      <img src="assets/img/udemy.png" class="card-img-top mt-2" alt="Sololearn-logo">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">Udemy</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Front end development</h6>
        <p class="card-text">Udemy Global Mentoring Course on Front End Web Development</p>
        <a
          href="assets/img/certificados/Cetificate_frontend_developer.jpg"
          target="_blank"
          class="btn btn-primary"
          style="margin: 0 auto;">
          View Certificate
        </a>
      </div>
      <div class="card-footer text-muted">
        Issued August 2021
      </div>
    </div>
  </div>
</div>
