<section style="user-select: none;" id="home">
  <img src="assets/img/stars.png" id="stars" />
  <img src="assets/img/moon.png" id="moon" />
  <img src="assets/img/mountains_behind.png" id="mountains_behind" />
  <h2 id="text">Zullo Lautaro</h2>
  <a data-text="Awesome" id="button" href="#aboutme">
    <span class="actual-text">&nbsp;explore&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;explore&nbsp;</span>
  </a>
  <img src="assets/img/mountains_front.png" id="mountains_front" />
</section>

